<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title><% m_title %></title>
                    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <% if(typeof local_css == 'string' && local_css){ %>
    <link href="../resources/css/<%=local_css%>" rel="stylesheet">
    <%  } %>
    <% if(typeof local_js == 'string' && local_js){ %>
    <script type="text/javascript" src="../resources/javascript/<%=local_js%>"></script></script>
    <%  } %>
  </head>
