<%- include ("../partials/header") %>
  <body>
    <%- include ("../partials/navbar") %>
    <div class="w3-container" onclick="openModal()">
      <div class="modal-dialog modal-login">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="text-center modal-title">Add Event</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" class="form-control" id="evenName" name="eventName" placeholder="Event Name"
              required="required">
            </div>
            <div class="form-group">
              <input type="datetime-local" class="form-control" id="date" name="date" required="required">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="location" name="location" placeholder="Location"
              required="required">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="contact" name="contact" placeholder="Contact Email"
              required="required">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="description" name="description" rows="4" placeholder="Event Description"></textarea>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Organization</label>
              <select class="form-control" id="organization">
              <% var organizations = '<option>None</option>'; 
              if (data) {
                data.forEach(function(org_name) {
                  organizations += '<option>'+org_name.org_name+'</option>';
                }) %>
              <% } %>
              <%- organizations %>
              </select>
            </div>
            <div class="form-group">
              <a id="addOrganization" class="btn btn-primary" href="/registration">Add Organization</a>
            </div>

            <div class="checkbox">
              <label for="checkbox">Event Tags</label><br>
              <label><input type="checkbox" value="">Academic</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Clubs</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Sports</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Fundraising</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Music</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Talks</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Other</label>
            </div>

            <br>

            <div class="form-group">
              <button id="my_submit_button" class="btn btn-primary btn-block login-btn" disabled>Create Event</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
