<%- include ("../partials/header") %>
  <body>
    <%- include ("../partials/navbar") %>
    <div class="bg">
      <img src="../resources/img/cu-campus.jpg" alt="CU campus">
      <style media="screen">
            img {
              max-width: 100%;
              height: auto;
            }
      </style>
      <h1>Upcoming Events</h1>
      <div class="row container">
        <div class="col card-deck">
          <div class="col-4 card bg-light">
            <div class="card-body text-center">
              <h1>new event</h1>
              <p>Sample</p>
            </div>
          </div>
          <div class="col-4 card bg-light">
            <div class="card-body text-center">
              <h1>new event</h1>
              <p>Sample</p>
            </div>
          </div>
          <div class="col-4 card bg-light">
            <div class="card-body text-center">
              <h1>new event</h1>
              <p>Sample</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
