<%- include ("../partials/header") %>
  <body>
    <%- include ("../partials/navbar") %>
    <br>
    <br>

   <div class="row">
<div class="column left">
</div>

  <div class="column right">
    <div class="col text-center">
      <div class="form-group">
        <input type="query" class="form-control" id="searchbar" placeholder="Search">
         <a class="btn btn-primary" href="addEvent">Add Event</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Event 1 Title</h5>
        <p class="card-text">Date / Location</p>
        <p class="card-text">A short description of the event</p>
        <a href="#" class="btn btn-primary">Add to Calendar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Event 2 Title</h5>
        <p class="card-text">Date / Location</p>
        <p class="card-text">A short description of the event</p>
        <a href="#" class="btn btn-primary">Add to Calendar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Event 3 Title</h5>
        <p class="card-text">Date / Location</p>
        <p class="card-text">A short description of the event</p>
        <a href="#" class="btn btn-primary">Add to Calendar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Event 4 Title</h5>
        <p class="card-text">Date / Location</p>
        <p class="card-text">A short description of the event</p>
        <a href="#" class="btn btn-primary">Add to Calendar</a>
      </div>
    </div>

  </div>
</div>
</body>
</html>
