<%- include ("../partials/header") %>
  <body>
    <%- include ("../partials/navbar") %>
    <br>
    <br>

    <div class="row">
      <div class="column left">
        <div class="card" style="width: 14rem;">
          <div class="card-body" >
            <h5 class="card-title">Key</h5>
            <table>
              <tr>
                <td><span class="dotRed"></span></td>
                <td>Academic</td>
              </tr>
              <tr>
                <td><span class="dotOrange"></span></td>
                <td>Clubs</td>
              </tr>
              <tr>
                <td><span class="dotYellow"></span></td>
                <td>Sports</td>
              </tr>
              <tr>
                <td><span class="dotGreen"></span></td>
                <td>Fundraising</td>
              </tr>
              <tr>
                <td><span class="dotBlue"></span></td>
                <td>Music</td>
              </tr>
              <tr>
                <td><span class="dotPurple"></span></td>
                <td>Talks</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="column right">
        <div class="col text-center">
          <div class="form-group">
            <input type="query" class="form-control" id="searchbar" placeholder="Search">
             <button class="btn btn-info">Add Event</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Event 1 Title</h5>
            <p class="card-text">Date / Location</p>
            <p class="card-text">A short description of the event</p>
            <a href="#" class="btn btn-info">Add to Calendar</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Event 2 Title</h5>
            <p class="card-text">Date / Location</p>
            <p class="card-text">A short description of the event</p>
            <a href="#" class="btn btn-info">Add to Calendar</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Event 3 Title</h5>
            <p class="card-text">Date / Location</p>
            <p class="card-text">A short description of the event</p>
            <a href="#" class="btn btn-info">Add to Calendar</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Event 4 Title</h5>
            <p class="card-text">Date / Location</p>
            <p class="card-text">A short description of the event</p>
            <a href="#" class="btn btn-info">Add to Calendar</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
